In [1]:
import pandas as pd
import datetime

# Data Wrangling

### read data

In [ ]:
import datetime
import pandas as pd
data = pd.read_csv('/Users/zhuyao/Google Drive/2021 summer/STAA 556/project proposal/SNAP-Ratebeer.txt'
            	, sep='\n',encoding = 'ISO-8859-1', header=None)
data.columns = ['data%s'%i for i in range(1, data.shape[1]+1)]
data['data1'] = data['data1'].str.split(':')
data['title'] = data['data1'].map(lambda x: x[0])
data['context'] = data['data1'].map(lambda x: x[1])
data = data.drop(['data1'], axis = 1)

### Transform from raw to column

In [ ]:
data = data.T
data.reset_index(drop = True, inplace = True)
new_header = data.iloc[0]   #grab the first row for the header
data = data[1:]                  	#take the data less the header row
data.columns = new_header  #set the header row as the df header

### group by 13

In [ ]:
new_data = data.iloc[0:1,0:13]
for i in range(13, data.shape[1], 13):
	dataset = data.iloc[0:1, i:i+13]
new_data = pd.concat([new_data, dataset], axis=0)

### Transform time (only take year)

In [ ]:
import time
train_data = new_data
newtime = train_data['review/time'][0:-1].apply(lambda t : time.strftime("%Y-%m-%d %H:%M:%S",(time.localtime(int(t)))))
year = train_data['review/time'][0:-1].apply(lambda t : time.strftime("%Y",(time.localtime(int(t)))))
train_data['year'] = year

### Deal missing values and transform datatype

In [ ]:
train_data = train_data[train_data['beer/ABV'] != ' -']
train_data = train_data.reset_index(drop = True)
TD =
train_data[['beer/ABV','review/appearance','review/aroma','review/palate','review/taste','review/overall']]
TD = TD[0:-1]
TD['review/appearance'] = TD['review/appearance'].str.split('/',expand = True)[0].astype('category')
TD['review/aroma'] = TD['review/aroma'].str.split('/',expand = True)[0].astype('category')
TD['review/palate'] = TD['review/palate'].str.split('/',expand = True)[0].astype('category')
TD['review/taste'] = TD['review/taste'].str.split('/',expand = True)[0].astype('category')
TD['review/overall'] = TD['review/overall'].str.split('/',expand = True)[0].astype('int')/2

### Group 88 styles into 17 categories

In [ ]:
train_data['beer/category'] = 0
train_data['beer/style'] = train_data['beer/style'].str.lower()
#1
for i in range(0,train_data.shape[0]):
	if "lager" in train_data['beer/style'][i] or "vienna" in train_data['beer/style'][i] or "california" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 1
#2
for i in range(0,train_data.shape[0]):
	if "pilse" in train_data['beer/style'][i] or "dortmunder" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 2
#3
for i in range(0,train_data.shape[0]):
	if "golden ale" in train_data['beer/style'][i] or "spice" in train_data['beer/style'][i] or "scotch" in train_data['beer/style'][i] or "scottish" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 3
	elif "de garde" in train_data['beer/style'][i] or "mild ale" in train_data['beer/style'][i] or "cream ale" in train_data['beer/style'][i] or "saison" in train_data['beer/style'][i] or "sak" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 3
#4
for i in range(0,train_data.shape[0]):
	if ("bock") in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 4
#5
for i in range(0,train_data.shape[0]):
    if ("belgian ale") in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 5
#6
for i in range(0,train_data.shape[0]):
	if "wit" in train_data['beer/style'][i] or "abbey dubbel" in train_data['beer/style'][i] or "lsch" in train_data['beer/style'][i] or "abbey tripel" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 6
#7
for i in range(0,train_data.shape[0]):
	if "wheat ale" in train_data['beer/style'][i] or "german hefeweizen" in train_data['beer/style'][i] or "zwickel" in train_data['beer/style'][i] or "malt" in train_data['beer/style'][i] or "low alcohol" in train_data['beer/style'][i] or "specialty grain" in train_data['beer/style'][i] or "altbier" in train_data['beer/style'][i] or "german kristallweizen" in train_data['beer/style'][i] or "berliner weisse" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 7
#8
for i in range(0,train_data.shape[0]):
	if "schwarzbier" in train_data['beer/style'][i] or "oktoberfest" in train_data['beer/style'][i] or "dunkel" in train_data['beer/style'][i] or "smoked" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 8
#9
for i in range(0,train_data.shape[0]):
    if "fruit" in train_data['beer/style'][i] or "lambic" in train_data['beer/style'][i] or "sour" in train_data['beer/style'][i] or "mead" in train_data['beer/style'][i] or "cider" in train_data['beer/style'][i] or "perry" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 9
#10
for i in range(0,train_data.shape[0]):
	if "belgian strong ale" in train_data['beer/style'][i] or "american strong ale" in train_data['beer/style'][i] or "quadrupel" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 10
#11
for i in range(0,train_data.shape[0]):
	if "barley wine" in train_data['beer/style'][i] or "traditional ale" in train_data['beer/style'][i] or "old ale" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 11
#12
for i in range(0,train_data.shape[0]):
	if "amber ale" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 12
#13
for i in range(0,train_data.shape[0]):
	if "esb" in train_data['beer/style'][i] or "american pale ale" in train_data['beer/style'][i] or "bitter" in train_data['beer/style'][i] or "english pale ale" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 13
#14
for i in range(0,train_data.shape[0]):
	if "ipa" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 14
#15
for i in range(0,train_data.shape[0]):
	if "brown ale" in train_data['beer/style'][i] or "english strong ale" in train_data['beer/style'][i] or "irish ale" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 15
#16
for i in range(0,train_data.shape[0]):
	if "porter" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 16
#17
for i in range(0,train_data.shape[0]):
	if "stout" in train_data['beer/style'][i]:
    	train_data['beer/category'].iloc[i] = 17

### Group by profile name and grab overall scoresâ€™ min and max data which fulfill our conditions.

In [ ]:
MR_name = test.groupby('review/profileName').agg(['count'])['review/text']['count']>1
pname = test.groupby('review/profileName').agg(['count']).index
MR_name = pname[MR_name]
MRdata = test[test['review/profileName'].isin(MR_name)]
group_data = MRdata.groupby('review/profileName').agg(['min', 'max'])['review/overall']
final = group_data[(group_data['min'] < 5) & (group_data['min'] < group_data['max']) & (group_data['max'] > 7)]
train = test[test['review/profileName'].isin(final.index)]
train['y'] = 0
final['name'] = final.index
final = final.reset_index(drop=True)
train = train.reset_index(drop=True)
final['max_y'] = 0
high_train = train[(train['review/overall']>7)]
high_train = high_train.reset_index(drop=True)
for i in range(0,final.shape[0]):
	for j in range(0, high_train.shape[0]):
    	if (final['name'][i] == high_train['review/profileName'][j]) and (final['max'][i] == high_train['review/overall'][j]):
        	final['max_y'].iloc[i] = high_train['beer/category'][j]
Xtrain = train[(train['review/overall']<5)]
Xtrain['y'] = 0
Xtrain = Xtrain.reset_index(drop=True)
for i in range(0,final.shape[0]):
	for j in range(0, Xtrain.shape[0]):
    	if ((Xtrain['review/profileName'][j]) == (final['name'][i])):
        	Xtrain['y'].iloc[j] = final['max_y'][i]

### Group 17 categories into 5 styles

In [ ]:
for i in range(0,Xtrain.shape[0]):
	if  (Xtrain['y'][i] == 0) or (Xtrain['y'][i] == 1) or (Xtrain['y'][i] == 2) or (Xtrain['y'][i] == 3) or (Xtrain['y'][i] == 4) or (Xtrain['y'][i] == 5):
    	Xtrain['y'].iloc[i] = 1
    elif (Xtrain['y'][i] == 6):
    	Xtrain['y'].iloc[i] = 2
	elif (Xtrain['y'][i] == 7) or (Xtrain['y'][i] == 8) or (Xtrain['y'][i] == 11):
    	Xtrain['y'].iloc[i] = 3
	elif (Xtrain['y'][i] == 9) or (Xtrain['y'][i] == 14) or (Xtrain['y'][i] == 15):
    	Xtrain['y'].iloc[i] = 4
	elif (Xtrain['y'][i] == 10):
    	Xtrain['y'].iloc[i] = 5
	elif (Xtrain['y'][i] == 12) or (Xtrain['y'][i] == 13):
    	Xtrain['y'].iloc[i] = 6
	elif (Xtrain['y'][i] == 16):
    	Xtrain['y'].iloc[i] = 7
 
for i in range(0,X2train.shape[0]):
	if  (X2train['y'][i] == 1):
    	X2train['y'].iloc[i] = 1
	elif (X2train['y'][i] == 2) or (X2train['y'][i] == 6):
    	X2train['y'].iloc[i] = 2
	elif (X2train['y'][i] == 4):
        X2train['y'].iloc[i] = 3
	elif (X2train['y'][i] == 5) or (X2train['y'][i] == 7):
    	   	X2train['y'].iloc[i] = 4
         	elif (X2train['y'][i] == 3):
    	   	X2train['y'].iloc[i] = 5

# NLP model Building

In [ ]:
import nltk
nltk.download('punkt')
import re
import string
from nltk.corpus import stopwords

In [ ]:
from sklearn.model_selection import train_test_split

X = train['review/text']
y = train['y']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [ ]:
def text_process(mess):
    
    nopunc = [char for char in mess if char not in string.punctuation]

    nopunc = ''.join(nopunc)
    
    
    return [word for word in nopunc.split() 
        if word.lower() not in stopwords.words('english')]

In [ ]:
start = datetime.datetime.now()

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier




pipeline = Pipeline([
        ('bow', CountVectorizer(analyzer=text_process)),
        ('tfidf', TfidfTransformer()),
        (#'classfier', RandomForestClassifier())])
         'classfier',XGBClassifier(
                        max_depth=10,
                        learning_rate=0.1,
                        n_estimators=2000,
                        #silent = True,
                        nthread=-1,
                        gamma=0,
                        subsample=0.85,
                        colsample_bytree=0.8))])
         #'classfier',MultinomialNB())])


pipeline.fit(X_train, y_train)

predictions = pipeline.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))
end = datetime.datetime.now()
print("timeï¼š", end - start)

In [ ]:
print(classification_report(y_test, predictions))

# test code (above is enough)

In [3]:
all_data = pd.read_csv('/Users/huangzijing/Desktop/all_data.csv')
test = all_data

In [5]:
test['review/profileName'] = test['review/profileName'].astype("category").cat.codes

In [6]:
test['beer/beerId'] = test['beer/beerId'].astype("category").cat.codes
test['beer/brewerId'] = test['beer/brewerId'].astype("category").cat.codes
test['review/appearance'] = test['review/appearance'].astype("category").cat.codes
test['review/aroma'] = test['review/aroma'].astype("category").cat.codes
test['review/palate'] = test['review/palate'].astype("category").cat.codes
test['review/taste'] = test['review/taste'].astype("category").cat.codes
test['review/overall'] = (test['review/overall']).astype('int')
test['year'] = test['year'].astype("category").cat.codes
test['beer/category'] = test['beer/category'].astype("category").cat.codes

In [11]:
test = test.drop(['review/time'], axis = 1)
test = test[0:1400000]

KeyError: "['review/time'] not found in axis"

# group by

In [14]:
MR_name = test.groupby('review/profileName').agg(['count'])['review/text']['count']>1
pname = test.groupby('review/profileName').agg(['count']).index
MR_name = pname[MR_name]

In [15]:
MRdata = test[test['review/profileName'].isin(MR_name)]
group_data = MRdata.groupby('review/profileName').agg(['min', 'max'])['review/overall']

In [17]:
final = group_data[(group_data['min'] < 5) & (group_data['min'] < group_data['max']) & (group_data['max'] > 7)]
train = test[test['review/profileName'].isin(final.index)]
train['y'] = 0
final['name'] = final.index
final = final.reset_index(drop=True)
train = train.reset_index(drop=True)

<ipython-input-17-458f21217d3e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['y'] = 0
<ipython-input-17-458f21217d3e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['name'] = final.index

In [22]:
final['max_y'] = 0
high_train = train[(train['review/overall']>7)]
high_train = high_train.reset_index(drop=True)

## Built group data, set new category

In [25]:
start = datetime.datetime.now()

for i in range(0,final.shape[0]):
    for j in range(0, high_train.shape[0]):
        if (final['name'][i] == high_train['review/profileName'][j]) and (final['max'][i] == high_train['review/overall'][j]):
            final['max_y'].iloc[i] = high_train['beer/category'][j]
            
            
end = datetime.datetime.now()
print("timeï¼š", end - start)

timeï¼š 6:06:22.923303

In [26]:
final.to_csv('new_final', index = False)

In [2]:
final = pd.read_csv('new_final')

      min  max   name  max_y
0       0    9      3      9
1       0    9      5      3
2       1   10      8     12
3       1   10      9      9
4       4    9     11      2
...   ...  ...    ...    ...
8048    1    9  28003      0
8049    3    9  28005      9
8050    1    9  28009     13
8051    1    8  28012      5
8052    0    8  28014     12

[8053 rows x 4 columns]

In [70]:
Xtrain = train[(train['review/overall']<5)]
Xtrain = Xtrain.reset_index(drop=True)

## Set raw data new category base on group data

In [74]:
start = datetime.datetime.now()

for i in range(0,final.shape[0]):
    for j in range(0, Xtrain.shape[0]):
        if ((Xtrain['review/profileName'][j]) == (final['name'][i])):
            Xtrain['y'].iloc[j] = final['max_y'][i]
            
            
end = datetime.datetime.now()
print("timeï¼š", end - start)

timeï¼š 1:34:21.050590

array([16,  8,  0, 13,  6,  9, 10,  5, 14,  7,  2,  3,  4, 15, 12,  1, 11])

In [ ]:
Xtrain.to_csv('X17train', index = False)

In [12]:
Xtrain = pd.read_csv('/Users/huangzijing/Desktop/X17train')

,beer/name,beer/beerId,beer/brewerId,beer/ABV,beer/style,review/appearance,review/aroma,review/palate,review/taste,review/overall,review/profileName,review/text,year,beer/category,new_cat,y
0,Barley Island Goldilocks Belgian Blond,10488,732,7.0,belgian ale,2,3,2,3,4,1557,Had nearly 10 of their beers and this was by ...,11,4,1,16
1,Barley Island Dirty Helen Brown Ale,17771,732,4.3,brown ale,2,3,1,3,4,5467,Grainy and nutty malt character with hints of...,4,14,3,8
2,Barley Island Dirty Helen Brown Ale,17771,732,4.3,brown ale,2,5,0,4,4,3906,This is a deep red brown in color. The head i...,11,14,3,0
3,Barley Island Dirty Helen Brown Ale,17771,732,4.3,brown ale,2,3,1,3,4,1557,Dark red pour with a tan head. Faint aroma of...,10,14,3,16
4,Barley Island Count Hopula Imperial IPA,29789,732,8.0,imperial/double ipa,2,4,1,1,4,4020,Growler from STFUN....I hate to do this but I...,9,13,2,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62705,Sadlers IPA,7682,927,4.8,premium bitter/esb,1,4,1,3,4,2808,"Hand pulled at the Wellington, Birmingham. Lb...",7,12,2,14
62706,Terken Uberland BiÃƒÂ¨re des Flandres,3467,295,4.7,pale lager,3,4,1,3,3,1695,"clear golden colour, fine head, herbal aroma,...",4,0,1,16
62707,Terken CleeÃ‚Â’s Original Special,1599,295,6.2,pale lager,2,3,1,3,3,1695,"golden colour, few head, alcohol too present ...",2,0,1,16
62708,Terken Septante 5 Blonde,4824,295,6.2,biÃ£Â¨re de garde,2,4,1,3,4,7729,"(Bottle 75 cl) Fully golden with a nice, tall...",6,2,1,4
62709,Hereward Orange Womble,11936,745,4.5,bitter,3,5,2,4,4,5898,"Cask at Pigs Ear BF.\tSweet, a bit yeasty. No...",8,12,2,16

## set raw data 17 category to 5 category

In [14]:
for i in range(0,Xtrain.shape[0]):
    if (Xtrain['y'][i] == 0) or (Xtrain['y'][i] == 1) or (Xtrain['y'][i] == 2) or (Xtrain['y'][i] == 3) or (Xtrain['y'][i] == 4) or (Xtrain['y'][i] == 5):
        Xtrain['y'].iloc[i] = 1
    elif (Xtrain['y'][i] == 6):
        Xtrain['y'].iloc[i] = 2
    elif (Xtrain['y'][i] == 7) or (Xtrain['y'][i] == 8) or (Xtrain['y'][i] == 11):
        Xtrain['y'].iloc[i] = 3
    elif (Xtrain['y'][i] == 9) or (Xtrain['y'][i] == 14) or (Xtrain['y'][i] == 15):
        Xtrain['y'].iloc[i] = 4
    elif (Xtrain['y'][i] == 10):
        Xtrain['y'].iloc[i] = 5
    elif (Xtrain['y'][i] == 12) or (Xtrain['y'][i] == 13):
        Xtrain['y'].iloc[i] = 6
    elif (Xtrain['y'][i] == 16):
        Xtrain['y'].iloc[i] = 7

In [23]:
for i in range(0,Xtrain.shape[0]):
    if  (Xtrain['y'][i] == 1):
        Xtrain['y'].iloc[i] = 1
    elif (Xtrain['y'][i] == 2) or (Xtrain['y'][i] == 6):
        Xtrain['y'].iloc[i] = 2
    elif (Xtrain['y'][i] == 4):
        Xtrain['y'].iloc[i] = 3
    elif (Xtrain['y'][i] == 5) or (Xtrain['y'][i] == 7):
        Xtrain['y'].iloc[i] = 4
    elif (Xtrain['y'][i] == 3):
        Xtrain['y'].iloc[i] = 5

In [ ]:
Xtrain['y'].unique()

In [25]:
Xtrain.to_csv('X5train', index = False)

In [26]:
X2train = pd.read_csv('/Users/huangzijing/Desktop/X5train')

,beer/name,beer/beerId,beer/brewerId,beer/ABV,beer/style,review/appearance,review/aroma,review/palate,review/taste,review/overall,review/profileName,review/text,year,beer/category,new_cat,y
0,John Harvards Fancy Lawnmower Beer,25773,1706,5.4,kÃ¯Â¿Â½lsch,1,3,1,3,4,10091,On tap the Springfield PA location billed as ...,7,5,1,5
1,John Harvards Fancy Lawnmower Beer,25773,1706,5.4,kÃ¯Â¿Â½lsch,1,3,1,3,4,17844,"On tap at the Springfield, PA location. Poure...",7,5,1,5
2,John Harvards Yin Yang Lager,25774,1706,4.5,pale lager,2,4,1,4,4,17844,"On tap at the Springfield, PA location. Poure...",7,0,1,5
3,Barley Island Sinister Minister Belgian Black...,28138,732,6.7,traditional ale,3,5,1,4,4,17916,UPDATED,9,10,4,5
4,Barley Island Goldilocks Belgian Blond,10488,732,7.0,belgian ale,2,3,2,3,4,1557,Had nearly 10 of their beers and this was by ...,11,4,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168226,Terken Uberland BiÃƒÂ¨re des Flandres,3467,295,4.7,pale lager,3,4,1,3,3,1695,"clear golden colour, fine head, herbal aroma,...",4,0,1,4
168227,Terken CleeÃ‚Â’s Original Special,1599,295,6.2,pale lager,2,3,1,3,3,1695,"golden colour, few head, alcohol too present ...",2,0,1,4
168228,Terken Septante 5 Blonde,4824,295,6.2,biÃ£Â¨re de garde,2,4,1,3,4,7729,"(Bottle 75 cl) Fully golden with a nice, tall...",6,2,1,1
168229,Hereward Orange Womble,11936,745,4.5,bitter,2,4,2,4,4,20717,"4th December 2007 Pigs Ear Festival, Hackney...",12,12,2,4
168230,Hereward Orange Womble,11936,745,4.5,bitter,3,5,2,4,4,5898,"Cask at Pigs Ear BF.\tSweet, a bit yeasty. No...",8,12,2,4

In [27]:
train = X2train[['review/text', 'y']]

In [28]:
X2train['y'].unique()

array([4, 1, 2, 5, 3])

# NLP for reveiw/text

In [43]:
import nltk
nltk.download('punkt')
import re
import string
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/huangzijing/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [44]:
from sklearn.model_selection import train_test_split

X = train['review/text']
y = train['y']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [45]:
def text_process(mess):
    
    nopunc = [char for char in mess if char not in string.punctuation]

    nopunc = ''.join(nopunc)
    
    
    return [word for word in nopunc.split() 
        if word.lower() not in stopwords.words('english')]

### grid search

In [ ]:
start = datetime.datetime.now()

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier



parameters = {
    'max_depth': [5, 10, 15, 20, 25],
    'learning_rate': [0.01, 0.02, 0.05, 0.1, 0.15],
    'n_estimators': [50, 100, 200, 300, 500],
    'subsample': [0.6, 0.7, 0.8, 0.85, 0.95],
    'colsample_bytree': [0.5, 0.6, 0.7, 0.8, 0.9],
}

pipeline = Pipeline([
        ('bow', CountVectorizer(analyzer=text_process)),
        ('tfidf', TfidfTransformer())])
         #'classfier',MultinomialNB())])


pipeline.fit(X_train, y_train)


xlf = XGBClassifier(
        max_depth=10,
        learning_rate=0.1,
        n_estimators=2000,
        nthread=-1,
        gamma=0,
        colsample_bytree=0.8)



gsearch = GridSearchCV(xlf, param_grid=parameters, scoring='accuracy', cv=3)
gsearch.fit(X_train, y_train)

print("Best score: %0.3f" % gsearch.best_score_)
print("Best parameters set:")






from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))
end = datetime.datetime.now()
print("timeï¼š", end - start)

## build model

In [46]:
start = datetime.datetime.now()

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier




pipeline = Pipeline([
        ('bow', CountVectorizer(analyzer=text_process)),
        ('tfidf', TfidfTransformer()),
        (#'classfier', RandomForestClassifier())])
         'classfier',XGBClassifier(
                        max_depth=10,
                        learning_rate=0.1,
                        n_estimators=2000,
                        #silent = True,
                        nthread=-1,
                        gamma=0,
                        subsample=0.85,
                        colsample_bytree=0.8))])
         #'classfier',MultinomialNB())])


pipeline.fit(X_train, y_train)

predictions = pipeline.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))
end = datetime.datetime.now()
print("timeï¼š", end - start)

              precision    recall  f1-score   support

           1       0.45      0.61      0.51      5572
           2       0.63      0.38      0.47      2565
           3       0.53      0.47      0.50      3722
           4       0.51      0.55      0.53      4059
           5       0.58      0.41      0.48      2895

    accuracy                           0.50     18813
   macro avg       0.54      0.48      0.50     18813
weighted avg       0.52      0.50      0.50     18813

timeï¼š 0:56:01.241082

In [48]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           1       0.45      0.61      0.51      5572
           2       0.63      0.38      0.47      2565
           3       0.53      0.47      0.50      3722
           4       0.51      0.55      0.53      4059
           5       0.58      0.41      0.48      2895

    accuracy                           0.50     18813
   macro avg       0.54      0.48      0.50     18813
weighted avg       0.52      0.50      0.50     18813

ModuleNotFoundError: No module named 'wordcloud'